.App {
  text-align: center;
}

.App-logo {
  height: 70px;
}

.upload {
  font-size: calc(25px + 2vmin);
}
.line {
  border: 5px solid #31359b;
  border-radius: 5px;
  align-self: center;
  margin: 1em auto;
  width: 80%;
}

.App-header {
  background-color: white;
  min-height: 100px;
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}

.button {
  background-color: #31359b;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
